name: CI


on: 
  push:
    branches:
      - main

  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install Dependencies
        run: |
          pip install python-dotenv
          pip install requests

      # - name: Run main.py
      #   env:
      #     API_KEY_DEPENDENCY_TRACK : ${{secrets.API_KEY_DEPENDENCY_TRACK}}
      #   run: python3 main.py

      

  